h1{
    padding-top: 65px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}
nav ul{
    list-style-type:none;
    display:flex;
    position:fixed;
    justify-content:center;
    background-color: snow;
    width: 95%;
    top:0;
    left:0;
    color:dodgerblue;
    margin:0;
    
}

nav li{
    display:inline;
    text-decoration: none;
}

nav li a{
    display:block;
    text-align:center;
    padding: 15px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav li a:hover{
    background-color: gray;
}

nav li a:visited{
    text-decoration: none;
    color:dodgerblue;
}

div a{
    color: dodgerblue;
    transition: background-color 0.3s;
    text-decoration: none;
}

div a:visited{
    color: dodgerblue;
}

.container{
    max-width:1024px;
    width: 100%;
    margin:0 auto;
    box-sizing: border-box;
    align-items: center;
}

#about .col-6:nth-child(1){
    display: flex;
    align-items: center;
}

[class*="col-"] {
    flex-basis: 100%;
}


.profile_image{
    border-radius: 5px;
    width:275px;
    height:275px;
    object-fit: cover;
    justify-content: center;
}

.tags{
    display: inline-block;
    border-radius: 2px;
    margin: 5px 5px 5px 0px;
    padding: 4px 4px 4px 4px;
    background: #eeeeee;
    color: seagreen;
    background-color: springgreen;
}

.group {
    color: indianred;
    background-color: lightpink;
}

.research {
    color: deepskyblue;
    background-color: lightcyan;
}

.materials {
    align-items: left;
}

.individual {
    color: seagreen;
    background-color: springgreen;
}

.project {
    color: gold;
    background-color: lightgoldenrodyellow;
}

body {
    background-color: snow;
    font-family: 'Open Sans', sans-serif;
}

.search input{
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.news-list {
    display: list-item;
}

.row {
    display: flex;
}

@media only screen and (max-width: 576px ){
.col-1 {flex-basis: 8.33%;} 
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}

.row {
    flex-wrap: wrap;
    justify-content: center;
}
}

@media only screen and (min-width: 578px) {
.col-1 {flex-basis: 8.33%;} 
.col-2 {flex-basis: 16.66%;}
.col-3 {flex-basis: 25%;}
.col-4 {flex-basis: 33.33%;}
.col-5 {flex-basis: 41.66%;}
.col-6 {flex-basis: 50%;}
.col-7 {flex-basis: 58.33%;}
.col-8 {flex-basis: 66.66%;}
.col-9 {flex-basis: 75%;}
.col-10 {flex-basis: 83.33%;}
.col-11 {flex-basis: 91.66%;}
.col-12 {flex-basis: 100%;}

}

footer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}